@font-face {
    font-family: "Corpta";
    src: url("./fonts/Corpta-DEMO.otf");
}

:root{
    --light-blue-clr: #3388FF;
    --dark-blue-clr: #051650;
    --neon-light-clr: #0ff;   /* electric cyan */
     --neon-dark-clr: #b300ff; /* deep neon purple/magenta */
}

body, html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Corpta", sans-serif;
    color: #eaffff;
}

body{
    height: 100vh;
    background-color: var(--dark-blue-clr);
}

.neon-border-dark {
  border: 1px solid var(--neon-dark-clr);
  border-radius: 20px;
  box-shadow:
    0 0 5px var(--neon-dark-clr),
    0 0 10px var(--neon-dark-clr),
    0 0 20px var(--neon-dark-clr),
    0 0 40px var(--neon-dark-clr);
}

.neon-border-light {
  border: 1px solid var(--neon-light-clr);
  border-radius: 10px;
  box-shadow:
    0 0 5px var(--neon-light-clr),
    0 0 10px var(--neon-light-clr),
    0 0 20px var(--neon-light-clr),
    0 0 40px var(--neon-light-clr);
}

/*nav bar*/
nav{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 40px;

    height: 100px;
    background-color: var(--light-blue-clr);
}

button {
  border: 1px solid black;
  border-bottom: none;

  font-size: 20px;
  padding: 10px 30px;
  background-color: var(--light-blue-clr);
  font-family: "Corpta", sans-serif;
  color: white;
}

/*content container*/
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
    width: 100%;
}

/*main page*/
.main, .about{
    height: 80%;
    max-width: 700px;

    background-color: var(--light-blue-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.main > h1{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: -30px;
}

.main-info-div{
    width: 80%;
    padding: 10px 35px;
}

.main-info-div > h2{
    text-align: center;
}

.review-container > :last-child{
    margin-left: 30px;
    font-weight: bold;
}

/*about container*/
.about{
    gap: 50px;
}

.about > h1{
    margin-top: 40px;
    margin-bottom: -10px;
}

.story-container, .quality-container{
    width: 85%;
    padding: 0px 20px;
}

.qualities{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.quality-item{
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

.quality-item > :first-child{
    font-size: 18px;
    text-align: center;
}

.quality-item > :last-child{
    font-size: 12px;
}

.story-container > h2, 
.quality-container > h2{
    text-align: center;
}